@model AuctionWebApplication.AuctionService.Account
@{
    ViewBag.Title = "ChangePassword";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="form-horizontal">


        <h2>Change your password</h2>
        <hr/>

        <div class="error">@TempData["ErrorMessage"]</div>
        <form>
            <div class="form-group">
                @Html.LabelForModel("Old password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="pwd">
                    <input type="password" name="OldPassword" />

                </div>
            </div>
            <div class="form-group">
                @Html.LabelForModel("New password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="pwd">
                    <input type="password" name="NewPassword" />

                </div>
            </div>

            <div class="form-group">
                @Html.LabelForModel("Confirm password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="pwd">
                    <input type="password" name="ConfirmPassword" />

                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </form>

    </div>
    <br/>
    <br/>
    <br/>
}
